<form [formGroup]="form" (ngSubmit)="onSubmit()">
<!--  4-->
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" />
<!--    3-->
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
<!--    3-->
    </div>

    <button class="button">Login</button>
  </div>


  @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email address</p>
  }

  @if (passwordIsInvalid) {
    <p class="control-error">
      Please enter a valid password at least 6 character
    </p>
  }
  <!--  6-->
</form>
